
.Header {
  background-color: #5eaaa8;
  text-align: center; 
  height: 100px;
  padding: 5px;
  margin-bottom: 30px;
}

.HeaderText{
  
  font-size: 40px;
  font-weight: bold;
  
}

.Body {
  
  text-align: center;
}

p {
  font-size: 30px;
  font-weight: bold;
}